{% extends 'base.html.twig' %}
 
{% block title %} Symfony React Starter {% endblock %}

{% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
 
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"> CRM FullStack Exercise </a>
    </nav>
    
    <div id="root">Loading...</div>
   
{% endblock %}